.footer{
    color: #fff;
    background: #000000;
}
.footer .logo{
    font-size:24px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:90px;
    margin-top: 30px;
}
.footer span{
    line-height: 150px;
    font-size:12px;
    font-family:PingFang SC;
    font-weight:500;
}
.footer span a{
    color: #fff;
}
.footer span a:hover{
    color: #999;
}
