.report {
    margin-top: 99px;
    margin-bottom: 50px;
}

.report .group {
    width: 100%;
    padding-top: 46px;
}

.report .group .title {
    background: rgba(228, 228, 228, 1);
    border-radius: 1px;
    line-height: 44px;
    padding-left: 17px;
    margin-bottom: 36px;
}

.report .group.groupNew {
    
}

.report .group.groupNew .item {
    display: flex;
    margin-bottom: 46px;
}

.report .group.groupNew .item .img {
    width: 249px;
    height: 124px;
    display: inline-block;
}

.report .group.groupNew .item .info {
    flex: 1;
    padding-left: 20px;
}

.report .group.groupNew .item .info .infoTitle {
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
    line-height: 26px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.report .group.groupNew .item .info .infoDesc {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
    line-height: 26px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.report .group.groupPoint .list .item img {
    width: 100%;
    /* border: 1px dashed #999; */
}

.report .group.groupPoint .list .item p {
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
    line-height: 36px;
    text-align: center;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.report .group.groupSpecial .list p{
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 22px;
}