.banner {
    height: 850px;
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7BmAdbtJAD4SXV-9z_M378.png) no-repeat center;
    color: #fff;
    text-align: center;
    padding-top: 250px;
    text-transform: uppercase;
}

.banner h1 {
    font-size: 72px;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 160px;
}

.banner h4 {
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 48px;
}

.wordImg {
    margin-top: 70px;
}

.wordImg .item {
    margin: 0;
    padding: 0;
}

.wordImg .item h3 {}

.wordImg .item h4 {}

.wordImg .item .bg {
    position: relative;
    text-align: center;
}

.wordImg .item .bg .icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 18px;
}

.wordImg .item .bg .icon img {
    width: 100%;
    height: 100%;
}

.wordImg .item .bg .inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 0 30px;
}

.wordImg .item .bg .inner h3 {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.wordImg .item .bg .inner h4 {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
}

.wordImg .item:nth-child(1) .bg, .wordImg .item:nth-child(3) .bg, .wordImg .item:nth-child(5) .bg {
    background: rgba(174, 190, 39, 1);
    color: #fff;
}

.wordImg .item:nth-child(2) .bg {
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7FqAYBm4AAxjKisSDFM842.png) center;
    background-size: cover;
}

.wordImg .item:nth-child(4) .bg {
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7FuAWOSZAAqhyX4n3qE769.png) center;
    background-size: cover;
}

.wordImg .item:nth-child(6) .bg {
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7GuAIOWiAAkgj8Do5SI278.png) center;
    background-size: cover;
}

.wordImg .item .bg::before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
    vertical-align: middle;
}

.partners {
    margin-top: 60px;
    padding-bottom: 25px;
}

.partners .header h1 {
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 30px;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 90px;
}

.partners .header h1 .line {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 94px;
    height: 5px;
    background: rgba(51, 51, 51, 1);
    position: absolute;
}

.partners .list .item {
    padding: 10px;
}

.partners .list .item img {
    width: 100%;
}

.partners .desc {
    margin-top: 55px;
}

.partners .desc img {
    width: 100%;
}

.partners .desc .right h1 {
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 30px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.partners .desc .right h3 {
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 30px;
}

.gallery {
    margin-top: 60px;
    padding-bottom: 25px;
}

.gallery .header h1 {
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 30px;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 90px;
}

.gallery .header h1 .line {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 94px;
    height: 5px;
    background: rgba(51, 51, 51, 1);
    position: absolute;
}

.gallery .list .item {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.gallery .list .item .inner {
    width: 100%;
}

.gallery .list .item .inner .bg {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 50%;
}

.gallery .list1 .item:nth-child(1) .inner .bg:nth-child(1) {
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7gmAOSDlABHAFQqssQ0117.png) center;
    background-size: cover;
    padding-bottom: calc(50% - 10px);
    margin-bottom: 10px;
}

.gallery .list1 .item:nth-child(1) .inner .bg:nth-child(2) {
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7huAV2ZxAA-rWFRai54846.png) center;
    background-size: cover;
}

.gallery .list1 .item:nth-child(2) .inner {
    content: '';
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: middle;
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7iWANeBJABNDjN-QpGQ831.png) center;
    background-size: cover;
}

.gallery .list2 .item:nth-child(2) .inner .bg:nth-child(1) {
    padding-bottom: calc(50% - 10px);
    margin-bottom: 10px;
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7jGAUSEPABHi2ej_GtU946.png) center;
    background-size: cover;
}

.gallery .list2 .item:nth-child(2) .inner .bg:nth-child(2) {
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7jmAXM5vAAz7YyHCURw884.png) center;
    background-size: cover;
}

.gallery .list2 .item:nth-child(1) .inner {
    content: '';
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: middle;
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7kSAZC2FACA91CmAVUA756.png) center;
    background-size: cover;
}

.post {
    margin-top: 60px;
    padding-bottom: 25px;
}

.post .header h1 {
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 30px;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 90px;
}

.post .header h1 .line {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 94px;
    height: 5px;
    background: rgba(51, 51, 51, 1);
    position: absolute;
}

.post .list {
    margin-bottom: 95px;
}

.post .list .item {
    border-radius: 3px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.post .list .item .itemIcon {
    width: 100%;
}

.post .list .item .inner {
    padding: 0 20px;
}

.post .list .item .title {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 36px;
    margin-top: 37px;
    margin-bottom: 27px;
}

.post .list .item .desc {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(132, 132, 132, 1);
    line-height: 30px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
}

.post .list .item .user {
    display: flex;
    padding: 25px 0;
}

.post .list .item .user img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.post .list .item .user .info {
    flex: 1;
}

.post .list .item .user .info .userName {
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(29, 29, 29, 1);
    line-height: 30px;
}

.post .list .item .user .info .userDesc {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 30px;
}

.contact {
    margin-bottom: 150px;
    position: relative;
}

.contact .msg {
    padding: 38px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.contact .msg input, .contact .msg textarea {
    width: 250px;
    background: rgba(240, 246, 246, 1);
    border-radius: 2px;
    border: none;
    padding: 0 10px;
    resize:none;
}

.contact .msg .btn {
    width: 100%;
    text-align: center;
}

.contact .msg .btn button {
    background: rgba(174, 190, 39, 1);
}

.contact .left {
    background: rgba(174, 190, 39, 1);
    color: #fff;
    text-transform: uppercase;
    padding-left: 25px;
}

.contact .left h4 {
    margin-top: 100px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 48px;
}

.contact .left h1 {
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 48px;
}

.contact .left .list {
    margin-bottom: 200px;
}

.contact .left .list .item {
    display: flex;
}

.contact .left .list .item img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-top: 15px;
}

.contact .left .list .item .info {
    flex: 1;
}

.contact .left .list .item .info p {
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 48px;
    margin: 0;
}

.contact .right {
    background: url(https://fastdfs-dev-test.uworks.cc/group1/M00/00/65/wKgBWl3A7ruAV4R8AAq68HsjSSQ357.png) right no-repeat;
    background-size: auto 100%;
}